<div class="stolen-frosty span6 offset4 text-center">


	<h1 class="stolen-h1">It's Firehose</h1>
<br/>
	<h2>
		Let's code!!  
	</h2>

<br/>
<br/>

<%= link_to 'launch', pics_path, :class => 'btn btn-warning btn-large' %>


</div>